/* Contact Part */
.contact {
  background-color: var(--BG-COLOR);
  color: var(--TEXT-COLOR2);
  padding: 15vw;
  min-height: 100vh;
  /* min-height: 100vh; */
}
.contact__sec {
  width: 78%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.contact__desc {
  width: 65vw;
  text-align: center;
}

/* Contact info */
.contact-info p {
  color: var(--TEXT-COLOR2);
  padding: 10px 0;
}

/* Social links */
.social-links {
  color: var(--TEXT-COLOR);
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 900;
}
.social-links a:hover {
  color: var(--TEXT-COLOR2);
  text-shadow: 0 0 20px var(--BG-COLOR);
  font-size: 1.7rem;
}